{% extends "header.html" %}
{% block html_title %}
	{{ group.name }} - {{ block.super }}
{% endblock %}
{% block script_header %}
  {% load staticfiles %}
	<script type="text/javascript" src="{% static "expenses-list.js" %}"></script>
{% endblock %}
{% block title %}{{ group.name }}{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}

<div ng-app="expensesList" ng-controller="ExpensesCtl">

	<form ng-submit="addExpense()">
		<div class="input-prepend">
			<span class="add-on">$</span>
			<input type="number" step="any" min="0" placeholder="0.00" class="input-mini" ng-model="amountText" required />
		</div>

        <input type="text" placeholder="food 'n shits" ng-model="titleText" class="input-xlarge" required />
        <input type="hidden" id="group_id" value="{{group.id}}" required />

	    <input type="submit" value="Ajouter" class="btn btn-primary" />
    </form>

	<table class="table">
		<thead>
			<tr>
				<th>Description</th>
				<th>Total</th>
				<th>Acheteur</th>
				<th>Partage</th>
			</tr>
		</thead>
		<tr ng-repeat="expense in expenses">
			<td>[{expense.title}]</td>
			<td>[{expense.amount}] $</td>
			<td>[{expense.buyer}]</td>
			<td>[{expense.share}]%</td>
		</tr>
	</table>

</div>

{% endblock %}