<div class="row fluid">
  <div class="span6">
  <form name="myForm">
    <div class="control-group" ng-class="{error: myForm.name.$invalid}">
      <label>Nom</label>
      <input type="text" name="name" ng-model="groupName" required>
      <span ng-show="myForm.name.$error.required" class="help-inline">
          Requis</span>
    </div>
   
    <br>
    <a href="#/" class="btn">Cancel</a>
    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
            class="btn btn-primary">Save</button>
    <button ng-click="destroy()"
            ng-show="group.id" class="btn btn-danger">Delete</button>
  </form>
</div>

<div class="span6">
  <table class="table">
    <thead>
    <tr>
      <th>
        Membres
        <input type="text" name="user_id" id="user_autocomplete" style="margin-bottom:0px" class="input-medium pull-right" placeholder="Ajouter..." />
      </th>
      <th><a><i class="icon-plus-sign"></i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="member in members | orderBy:'name'">
      <td>[{member.name}]</td>
      <td>
        <a href="javascript:void(0)" ng-click="removeMember(member.id)" value="[{member.id}]"><i class="icon-remove"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>