<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>{% block html_title %}Groupshex{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "jquery-ui/jquery-ui.css" %}">
  <script type="text/javascript">
    var base_uri = '/'
    var base_url = 'http://127.0.0.1:8080'+base_uri;
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "script.js" %}"></script>
  {% block script_header %}{% endblock %}
</head>
<body>

  <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Groupshex</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{% url 'expenses.views.index' %}">Dépenses</a></li>
              <li><a href="{% url 'expenses.views.manage_groups' %}">Groupes</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

    <h1>{% block title %}{% endblock %}</h1>
    <p>{% block subtitle %}{% endblock %}</p>
  {% block main%}
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  {% endblock %}
    </div> <!-- /container -->
    {% csrf_token %}
</body>
</html>